.selector-for-some-widget {
	box-sizing: content-box;
}

.superTitle { 
	-webkit-text-stroke: 0.7px greenyellow;
	font-family: 'Tangerine', cursive;
	font-size: 7em;
	font-weight:bolder;
}
.superFoto p {
	font-size: 1.5em;
	-webkit-text-stroke: 0.5px green;
}
.superFoto img {
	width: auto;
	height: 20em;
	object-fit: cover;
}

.danone {
	display: none;
}

.kegiatan img {
	width: 200px;
	height: auto;
}
.kuliner img {
	width: auto;
	height: 10rem;
}
.kuliner img,
.kegiatan img {
	object-fit: cover;
}